html, body {
  margin: 0;
  padding: 0;
  background-color: #150273;
  color: #fff;
}
:root {
  --spacing: 10px;
  --blur: 10px;
  --coloring: #fff;
}

h1 {
  text-align: center;
}

.controls {
  text-align: center;
  padding: 10px;
}

label {
  padding: 0 10px;
  font-size: 20px;
}

.main {
  margin-top: 30px;
}
img {
  display: block;
  margin: 0 auto;
  background-color: var(--coloring);
  filter: blur(var(--blur));
  padding: var(--spacing);
}